@import '../../styles/colors.scss';

.button {
  width: 100%;
  height: auto;
  padding: 1.45em 1em;
  border-radius: 1.2em;
  background-color: var(--c-light-color);
  border: 0.1em solid var(--c-button-frame);
  transition: border-color 0.3s;

  &:active {
    border-color: var(--c-button-pressed-frame);
  }

  &Transparent {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
  }

  &WithIcon {
    padding: 0.9em 1.6em;
  }

  &Disabled {
    background-color: $c-secondary-bg;
    border-color: $c-secondary-stroke;
    color: $c-text-secondary;
    cursor: not-allowed;
  }
}
