@import '../../styles/colors.scss';

.rights {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  line-height: 120%;
  color: $c-text-secondary;
  font-family: 'Nunito', sans-serif;
}

.link {
  color: inherit;
}
