$c-text: #111;
$c-grey: #666;
$c-grey-2: #828282;
$c-snow: #fff;
$c-primary: #31728d;
$c-primary-2: #a9def4;
$c-basic-light-blue: #f6faff;
$c-primary-opacity-10: rgba(49, 114, 141, 0.1);
$c-primary-opacity-20: rgba(49, 114, 141, 0.2);

$c-text-secondary: #b7b4c1;
$c-secondary-stroke: #d2cfdf;
$c-note-stroke: #c4d4e8;
$c-secondary-bg: #e8e6ef;
$c-bg: #fff;
$c-note-bg: #eef6ff;
$c-bg-linear: linear-gradient(180deg, #faf9ff 0%, #faf9ff 10%);
$c-success: #27c653;
$c-error: #ea6747;
$c-gold: #ffcb66;
$c-gold-dark: #b28843;
$c-sky: #007ed9;
$c-light-brown: #b9a68e;

$c-vip: #007ed9;
$c-coins: #ffa353;
$c-link: #00b1ff;
$c-paypal-bg: #ffb65f;
$c-applepay-bg: #040a21;
$c-phrase-1: #a9def4;
$c-phrase-2: #68a8c2;
$c-phrase-3: #31728d;
