@page
@model NewerDown.Domain.HtmlToPdf.Views.RegisterGreetings

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
          
    </div>
</body>
</html>