.arrows {
  width: 1.5em; // 20px
  height: 1.5em;
  color: var(--c-primary); // використовується currentColor

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 0.4em solid transparent; // 2em / 3 ≈ 0.66em
    border-bottom: 0.4em solid transparent;
    transform: rotate(-45deg);
    animation: arrowBounce 1.5s linear infinite;
  }

  &::before {
    transform: translate(0.66em, 2.66em) rotate(-45deg); // (2em / 3), (2em * 4 / 3)
    animation-delay: 0s;
  }

  &::after {
    transform: translate(1.33em, 0) rotate(-45deg); // (2em * 2 / 3)
    animation-delay: -1s;
  }
}

@keyframes arrowBounce {
  0% {
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: translate(-0.33em, -1.33em) rotate(-45deg); // -2em / 6, -2em * 2 / 3
  }

  10%,
  90% {
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  50% {
    border-left-color: currentColor;
    border-bottom-color: currentColor;
    transform: translate(-0.33em, 0) rotate(-45deg);
  }

  100% {
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: translate(-0.33em, 1.33em) rotate(-45deg); // 2em * 2 / 3
  }
}
