@import '../../styles/mixins';

.popup {
  &Wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Inner {
    position: relative;
    padding: 2.4em 1.2em 0;
    background-color: var(--c-bg);
    border-radius: 1em;

    &Adaptive {
      @include onDesktopLarge {
        width: 40em;
        margin: auto;
      }
    }
  }

  &Content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity, 0.3s;
    min-width: 4em;
    min-height: 4em;

    &Loading {
      opacity: 0;
    }
  }

  &Close {
    position: absolute;
    z-index: 1;
    right: 2em;
    width: 2em;
    height: 2em;
  }

  &Loader {
    position: absolute;
    top: calc(50% - 2.4em);
    left: calc(50% - 2.4em);
  }
}

.closeIcon {
  color: #b7b4c1;
}
