.wrapper {
  width: 100%;
}

.counter {
  position: relative;
  display: inline-block;
  font-family: var(--font-secondary);
  color: var(--c-primary);
  font-size: 6.4em;
  font-weight: 700;
  line-height: 110%;
}

.counterItem {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fakeNumber {
  opacity: 0;
}

.countedNumber {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.headline {
  margin-bottom: 1.2em;
}

.title {
  font-family: var(--font-main);
  color: var(--c-primary-3);
  text-align: center;
}

.changeTitleWidth {
  width: 66%;
}
