.wrapper {
  background-color: var(--c-snow);
  border-radius: 1.2em;
  overflow: hidden;
}

.messaging {
  &Header {
    display: flex;
    gap: 0.8em;
    align-items: center;
    padding: 1.2em;
    background-color: var(--c-snow);
    border-bottom: 0.1em solid var(--c-grey-shadow);
    border-radius: 1.2em 1.2em 0 0;

    &Title {
      font-family: var(font--main);
      color: var(--c-text);
      font-size: 1.2em;
      font-weight: 600;
      line-height: 135%;
    }

    &Icon {
      height: 4.3em;
      width: 4.3em;
    }
  }

  &Main {
    padding: 0 1.2em 1.6em;
  }

  &Container {
    position: relative;
    height: 30em;
    margin-bottom: 1em;
    overflow: hidden;
  }

  &Input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3em 1.6em;
    border-radius: 2.4em;
    background-color: var(--c-bg-grey);

    &Text {
      font-family: var(font--main);
      color: var(--c-text-grey);
      font-size: 1.44em;
      font-weight: 500;
      line-height: 135%;

      &Typing {
        color: var(--c-text);
        border-right: 0.15em solid var(--c-text);
        animation: blink-border 0.75s step-end infinite;
      }
    }

    &Icon {
      width: 2em;
      height: 2em;
    }

    &Pointer::before {
      content: '';
      position: absolute;
      left: 1.6em;
      bottom: 50%;
      transform: translateY(50%);
      height: 2em;
      width: 2em;
      border: 0.1em solid transparent;
      border-radius: 50%;
      animation: 0.5s blink-border 2500ms forwards;
    }

    &Pointer::after {
      content: '';
      z-index: 1;
      position: absolute;
      left: unset;
      right: 1.6em;
      bottom: 50%;
      transform: translateY(50%);
      height: 2em;
      width: 2em;
      border: 0.1em solid transparent;
      border-radius: 50%;
      animation: 0.5s linear blink-border 5900ms forwards;
    }
  }

  &List {
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.messageAnimationEnter {
  opacity: 0;
  transform: translateY(2em);
  will-change: opacity, transform;
}
.messageAnimationEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}
.messageAnimationExit {
  opacity: 1;
}
.messageAnimationExitActive {
  opacity: 0;
  transform: translateY(-1.5em);
  transition: all 300ms ease-in;
}

@keyframes blink-border {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--c-text);
  }
}
