.container {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.4em;
  width: 1.2em;
  height: 1.2em;

  &:last-child {
    margin-right: 0;
  }

  &Big {
    width: 2.5em;
    height: 2.5em;
  }
}
